<!DOCTYPE html>

<html>
    <head>
             <Link rel="stylesheet" href="/css/styles.css">
             <script src="/js/app.js"></script>            
    </head>

    <body>
        {{>header}}

        <h3>01: {{question}}</h1>
        <h4>An: {{answer}}</h4>

        {{>footer}}
    </body>
</html>