<!DOCTYPE html>

<html>
    <head>
        <!-- <Link rel="stylesheet" href="./css/styles.css">  -->
             <Link rel="stylesheet" href="/css/styles.css">
             <script src="/js/app.js"></script>
    </head>

    <body>

       {{>header}}

        
        <img src="/img/sush.jpeg" />
        
        {{>footer}}
    </body>
</html>